{% extends "main/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row align-items-center p-4 rounded-3 shadow-lg">
        <h1>{% trans "Set Password" %}</h1>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            <!-- Non Fields Errors -->
            {% if form.errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-warning with-close alert-dismissible fade show">
                <strong>{{ error | escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}

            <!-- Password1 Reset -->
            {% if form.password1.errors %}
            {% for error in form.password1.errors %}
            <div class="alert alert-danger with-close alert-dismissible fade show">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="form-floating mb-3">
                <input type="password" name="password1" class="form-control" id="password1" placeholder="Password">
                <label for="password1">Password</label>
            </div>

            <!-- Password2 Confirm -->
            {% if form.password2.errors %}
            {% for error in form.password2.errors %}
            <div class="alert alert-danger with-close alert-dismissible fade show">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
            <div class="form-floating mb-3">
                <input type="password" name="password2" class="form-control" id="password2" placeholder="Password">
                <label for="password2">Password Confirm</label>
            </div>

            <!-- Button - Submit -->
            <input class="btn btn-success" type="submit" name="action" value="{% trans 'Set Password' %}"/>

        </form>
    </div>
</div>
{% endblock %}
