{% extends "main/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row p-4 rounded-3 shadow-lg">

        <h1>{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}

            <!-- Non Fields Errors -->
            {% if form.errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-warning with-close alert-dismissible fade show">
                <strong>{{ error | escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}

            <!-- OldPassword Reset -->
            {% if form.oldpassword.errors %}
            {% for error in form.oldpassword.errors %}
            <div class="alert alert-danger with-close alert-dismissible fade show">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="form-floating mb-3">
                <input type="password" name="oldpassword" class="form-control" id="oldpassword" placeholder="Password">
                <label for="oldpassword">Current Password</label>
            </div>

            <!-- Password1 Reset -->
            {% if form.password1.errors %}
            {% for error in form.password1.errors %}
            <div class="alert alert-danger with-close alert-dismissible fade show">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="form-floating mb-3">
                <input type="password" name="password1" class="form-control" id="password1" placeholder="Password">
                <label for="password1">New Password</label>
            </div>

            <!-- Password2 Confirm -->
            {% if form.password2.errors %}
            {% for error in form.password2.errors %}
            <div class="alert alert-danger with-close alert-dismissible fade show">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
            <div class="form-floating mb-3">
                <input type="password" name="password2" class="form-control" id="password2" placeholder="Password">
                <label for="password2">New Password (again)</label>
            </div>

            <button class="btn btn-success" type="submit" name="action">{% trans "Change Password" %}</button>
            <a class="btn btn-outline-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password ?" %}</a>
        </form>

    </div>
</div>
{% endblock %}
